.about-page {
  padding: 2rem;
}
.about-page h2 {
  color: var(--accent-color);
  margin: 1.5rem auto;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.container.reverse {
  flex-direction: row-reverse;
}

.text-section-about,
.image-section {
  flex: 1 2;
  padding: 1rem;
  border-radius: 30px;
}

.text-section-about {
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  border-radius: 15px;
  box-shadow: -4px -1px 36px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: -4px -1px 36px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: -4px -1px 36px -3px rgba(0,0,0,0.2);}

@media (max-width: 768px) {
  .container,
  .container.reverse {
    flex-direction: column;
  }
}
