.offers {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
  }
  
  .shop-section {
    display: flex;
    width: 100%;
  }
  
  .left-side-shop {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  
  .right-side-shop{
    flex: 3; 
    padding: 10px;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
  }
  
  .carousel-item {
    min-width: 200px;
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .popular-choices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .choice-card {
    flex: 1;
    min-width: calc(50% - 10px);
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 20px;
    text-align: center;
  }
  