
.profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100dvh; 
  padding: 20px;
  font-family: Arial, sans-serif;
}

.profile-container h1, .profile-container p {
  margin: 10px;
  color: var(--secondary-background-color);
}

.profile-actions {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  justify-content: space-between; 
}

button {
  background-color: var(--accent-color);
  color: var(--text-light-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

button:hover {
  background-color: darken(var(--accent-color), 10%); 
}

@media (max-width: 768px) {
  .profile-container {
    max-width: 90%; 
  }

  .buttons {
    flex-direction: column; 
    align-items: stretch;
    margin-top: 1rem;
  }

  button {
    margin-bottom: 10px;
  }

  button:last-child {
    margin-bottom: 0;
  }
}
