.details-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product-detail-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-image-section {
  width: 20%;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info-section {
  padding: 20px;
  background: #f9f9f9;
}

.product-title {
  margin-top: 0;
  color: #333;
}

.product-price {
  color: var(--accent-color);
  font-weight: bold;
}

.product-description {
  color: #555;
  margin-bottom: 20px;
}

.quantity-info {
  margin: 10px;
  font-size: 16px;
  color: #838282;
}

.quantity-label {
  display: block;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
}

.action-button {
  background: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-button:disabled {
  background: #ccc;
}

.action-button:hover {
  background: var(--accent-color);
}

.action-button svg {
  margin-right: 5px;
}

.go-back-button {
  background: none;
  border: none;
  color: var(--accent-color);
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.go-back-button:hover {
  color: var(--accent-color);
}
