.footer {
  background-color: var(--background-color);
  color: var(--text-light-color);
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Arial', sans-serif;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  color: #ecf0f1;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li,
.footer-section ul li a {
  color: #bdc3c7;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ecf0f1;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-section:nth-child(1), 
  .footer-section:nth-child(4) { 
    display: none;
  }
}
