:root {
  --accent-color: #f55951;
  --background-color: #242424;
  --secondary-background-color: #adadade9;
  --text-color: #72392dae;
  --text-light-color: #edd2cb;
}

*{
  padding: 0;
  margin: 0 auto;
}
