.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-blend-mode: color-burn;
  background-color: var(--secondary-background-color);
}

.hero-container h1 {
  position: relative;
  top: 20vw;
  font-size: 3vw;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1vw;
  line-height: 0.8;
}

canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
}

.coffee-cup {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.text-behind,
.text-front,
.text-behind-blur {
  position: absolute;
  text-align: center;
  font-size: 18vw;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.8vw;
  line-height: 0.8;
}

.text-behind {
  color: var(--background-color);
  z-index: 1;
}

.text-behind-blur {
  color: var(--text-light-color);
  filter: blur(1vw);
  -webkit-filter: blur(1vw);
  z-index: 0;
}
.text-front {
  color: transparent;
  -webkit-text-stroke: 0.2vw var(--text-light-color);
  z-index: 3;
}

.scroll {
  position: relative;
  width: 1.5vw; 
  height: 1vw; 
  top: -6vw; 
  z-index: 2;
}
.chevron {
  position: absolute;
  width: 2vw; 
  height: 0.5vw; 
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}


.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}



@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  
  .hero-container h1 {
    top: 50vw;
    font-size: 6vw;
    letter-spacing: 1.5vw;
  }
  
  .scroll {
    top: -20vw;
  }

  .chevron {
    width: 5vw;
    height: 1.25vw;
  }
}